.book-detail {
  h2 {
    font-weight: bold;
  }

  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  button {
    margin-top: 1.5rem;
    padding: 0.6rem 2rem;
  }
}